@import "tailwindcss";

:root {
  --red: #f87171;
  --blue: #60a5fa;
  --green: #4ade80;
  --yellow: #fcd34d;
  --purple: #a78bfa;
  --pink: #f472b6;
  --orange: #fb923c;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
